# Node
node_modules/
.env

# Python
venv/
__pycache__/
*.pyc

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android / iOS
android/.gradle/
android/app/build/
ios/Pods/

# VS Code
.vscode/

# Logs
*.log

# Snapshots
snapshots/

# YOLO model files
*.pt
